<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="MySqlConnection"
           connectionString="Server=localhost;Database=studiocarolcruz;Uid=root;Pwd=011118;"
           providerName="Mysql.Data.MysqlClient"/>
    </connectionStrings>
</configuration>